body {
    background-color: rgb(242, 244, 247);
    font-family: Roboto;
    color: #731919;
}

.logo {
    width: 150px;
}

.header {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.header h1 {
    font-size: 22px;
    justify-content: left;
    font-family: Roboto Slab;
    font-weight: bolder;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 20px;
}

.menu li a {
    display: block;
    padding: 10px 10px;
}


.galeria {

    max-width: 100%;
    display: block;
}

p {
    display: block;
    font-size: 18px;
    padding: 10px;
}

main h1 {
    padding: 10px;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    
}

.flex > img {
    flex: 1 1 200px;
    margin: 10px;
    border: solid 1px black;
}

.foto-curso {
    display: flex;
    flex: 1 1 200px;
    border: solid 1px black;
    height: 300px;
    float: left;
    margin: 10px;
}

.foto2 {
    float: right;
}

.principal {
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    
}

footer {
    background-color: #731919;
    color: #ffffff;
    display: block;
    border: solid 1px black;
    margin: 0 auto;
    
}

footer p {
    padding: 10px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;

}

.caixa-contato {
    display: block;
    border: solid 1px black;
    text-justify: inter-word;
    padding: 50px;
    margin: 20px;
    
}

.menssagem {
    align-content: initial;
}
